        /*Cabecera de todas las páginas (con menú incluido)*/
        nav{
            padding: 10px;
            gap: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            margin-left:-8px;
            margin-right:-8px;
            background-color: rgb(197, 197, 197);
        }
        nav2{
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            margin-left:-8px;
            margin-right:-8px;
        }
        a, .special_a{

            text-decoration: none;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: black;
        }


        /*aside (contenido lateral de las páginas)*/
        aside {
            width: 30%;
            float: left;
            font-style: italic;
            background-color: lightgray;
            border-radius: 10px;
            margin: 20px;
            padding: 20px;
        }
        #fotoindex{
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        /*CUERPO DE LA PAGINA*/
        html{
            height: 100%;
        }
        body{
            background-color: bisque;
            min-height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        /*ELEMENTOS ESPECIALES*/
        h1{
            font-size: 300px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 0;
            text-align: center;
            color:white;
        }
        .textoindex{
            font-size: 20px;
            line-height: 1.5;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            color: white;
        }
        #principeprincipal{
            margin: 20px;
            padding: 20px;
            background-color: rgba(20, 20, 20, 0.381);
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }
        #vermas{
            margin: 20px;
            padding: 20px;
            background-color: rgba(20, 20, 20, 0.381);
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            font-weight: 1000;
            font-size: 50px;
            color: bisque;
            margin-bottom: 20px;
        }
        .ver_mas{
            color:burlywood;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        .history{
            margin: 20px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
        }
        .h1_historia{
            text-align: center;
            font-size: 150px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 0;
            color:wheat   
        }
        .la{
            text-align: center;
            font-size: 200px;
            font-family: Edwardian Script ITC;
            margin: 0;
            color: wheat;
        }
        .minititle{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            display: block;
            margin-bottom: -20px;
            color: wheat;
        }
        .album_title{
            text-align: center;
            font-size: 100px;
            font-family: Edwardian Script ITC;
            margin:1%;
            color: wheat;
        }
        .album_title2{
            text-align: center;
            font-size: 100px;
            font-family: Helvetica;
            margin:1%;
            color: wheat;
        }
        #titulo_historia{
            margin: 20px;
            padding: 20px;
            background-color: rgba(20, 20, 20, 0.381);
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }
        p{
            font-size: 15px;
            line-height: 1.5;
            font-family: Arial, Helvetica, sans-serif;
        }



        /*footer*/
        footer{
            font-family: 'Segoe UI';
            margin-top: auto;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.64);
            color: white;
            box-sizing: border-box;
        }
        .footerlogo{
            margin-right:170px;
            margin-top: 15px;
        }
        .footer_distribution{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .p{
            margin-left: 170px;
            margin-top: 15px;
            font-size: 14px;
            text-align: left;
        }

        /*Albums*/        
        .album{
            margin: 20px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            display: inline-block;
            text-align: center;
            justify-content: space-around;
        }
        #album{
            text-align: center;
        }
        details summary {
            cursor: pointer;
            font-weight: 600;
        }
        .solitary_foto{
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            justify-content: space-around;

            padding: 20px;
        }
        .solitary_description{
            text-align: center;
        }
        .solitary_text{
            padding: 20px;

            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            display: inline-block;
            text-align: justify;
            justify-content: fit-content;
        }
        .space{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-left: 15%;
            margin-right: 15%;
            margin-bottom: 5%;
        }
        .información_del_álbum{
            font-size: 20px;
            font-family:Helvetica;
            font-weight: 1000;
            color: black;
            margin-top:1px;
        }
        /*tours*/
        .tour{
            margin: 20px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            display: inline-block;
            text-align: center;
            justify-content: space-around;
        }
        #tours{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 30px;
            margin-top: 0%;
        }
        #gira_2025{
            width: 300px;
            height: 200px;
            border-radius: 10px;
        }
        #girafoto1{
            width: 400px;
            height: auto;
            border-radius: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .info_gira{
            font-size: 20px;
            font-family:Helvetica;
            color: black;
            margin-top:1px;
            text-align: center;
            padding: 20px;
        }
        .tour_description{
            font-size: 15px;
            line-height: 1.5;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }
        .entradas{
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            width: fit-content;
            margin: auto;
            margin-top: 10px;
            padding: 10px;
        }

        .tour1_title{
            text-align: center;
            font-size: 50px;
            font-family: Helvetica;
            font-weight: 1000;
            margin:1%;
            color: rgb(255, 0, 0);
            background-color: rgb(255, 255, 255); padding: 2px; outline: 2px solid rgb(255, 255, 255);
        }
        .tour2_title{
            text-align: center;
            font-size: 50px;
            font-family: Helvetica;
            font-weight: 1000;
            margin:1%;
            color: rgb(12, 163, 201);
            background-color: rgb(255, 255, 255); padding: 2px; outline: 2px solid rgb(255, 255, 255);
        }
        .video_youtube{
            margin-top: 20px;
            gap: 20px;
            display:inline-flex;
            text-align: center;
            justify-content: space-around;
        }
        .formatopaginagira{
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
        }
